<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo-b">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[title]]</h2>
    <ul>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
    </ul>
    
  </template>

  <script>
    /**
     * `hijo-b`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoB extends Polymer.Element {
      static get is() { return 'hijo-b'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Hijo-b'
          },
          textList: {
            type: String,
            value: "Soy una lista :)"
          }
        };
      }
    }

    window.customElements.define(HijoB.is, HijoB);
  </script>
</dom-module>
